.laptopCard {
  /* position: relative; */
  display: grid;
  width: 20rem;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.laptopCardImg {
  width: 100%;
  height: auto;
}

.laptopInfo {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  background-color: #fff;
  padding: 1rem;
}

.brandModel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brandModel h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.brandModel p {
  font-size: 14px;
  color: #333;
}

.laptopInfo p {
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
}

.laptopInfo h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.infoButton {
  border: none;
  background-color: #333;
  color: #ccc;
  height: 2.5rem;
  cursor: pointer;
  /* position: absolute;
	width: 100%;
	bottom: 0px; */
  align-self: self-end;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.modalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  border: 2px solid #fff;
  box-shadow: 24px;
  padding: 4rem;
}

.modalContent {
  position: relative;
}

.closeIcon {
  position: absolute;
  top: -10%;
  right: -10%;
  cursor: pointer;
}
.modalForm {
  display: grid;
  gap: 1rem;
}

.formGroup {
  display: grid;
  gap: 10px;
}
.formGroup input {
  padding: 10px;
  border-radius: 3px;
}
